body{
  background-color:#468966;
  color:#FFF1DE;
  font-family: 'Raleway', sans-serif;
}

h1{
  margin-top: -3%;
  text-align: left;
  text-decoration: underline;
}

input#userInput{
  font-size: 13px;
  text-align: left;
  margin-top: -1.5%;
}

p{
  text-align: right;
  margin-right: 16%;
}

li{
  text-align: left;
  font-size: 30px;
  list-style: none;
}

h6{
  margin-top: 10%;
}

a{
  text-decoration: none;
}

a.about{
  margin-left: 50%;
}

h5{
  margin-top: 20%;
  font-size: 20px;
  padding-left: 50%;
}

p.hello{
  margin-top: 10%;
  padding-left: 20%;
  text-align: center;
  font-size: 30px;
}

h1.error{
  margin-top: 10%;
}

